
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}


<div class="block-quick-info-2">
    <div class="container">
        <div class="block-quick-info-2-inner">
            <div class="row">
                <div class="col-sm-6 col-md-6 col-lg-3 mb-3 mb-lg-0">
                    <div class="d-flex quick-info-2">
                        <span class="icon icon-home mr-3"></span>
                        <div class="text">
                            <strong class="d-block heading">Adresimiz</strong>
                            <span class="excerpt">Babaeski</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3 mb-3 mb-lg-0">
                    <div class="d-flex quick-info-2">
                        <span class="icon icon-phone mr-3"></span>
                        <div class="text">
                            <strong class="d-block heading">
                                Bugün bizi arayın
                            </strong>
                            <span class="excerpt"><a href="#">+90(530) 456 7890</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3 mb-3 mb-lg-0">
                    <div class="d-flex quick-info-2">
                        <span class="icon icon-envelope mr-3"></span>
                        <div class="text">
                            <strong class="d-block heading">Bize mesaj gönder</strong>
                            <span class="excerpt"><a href="#">info@site.com</a></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-3 mb-3 mb-lg-0">
                    <div class="d-flex quick-info-2">
                        <span class="icon icon-clock-o mr-3"></span>
                        <div class="text">
                            <strong class="d-block heading">
                                Açılış saatleri
                            </strong>
                            <span class="excerpt">Pzt-Cum 7.00 - 19.00</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block-services-1 py-5">
    <div class="container">
        <div class="row">
            <div class="mb-4 mb-lg-0 col-sm-6 col-md-6 col-lg-3">
                <h3 class="mb-3">
                    Teklifimiz
                </h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia rerum, aliquid velit minima inventore ad consequatur accusamus dolor.</p>
                <p><a href="#" class="d-inline-flex align-items-center block-service-1-more"><span>Tüm hizmetleri görün</span> <span class="icon-keyboard_arrow_right icon"></span></a></p>
            </div>
            <div class="mb-4 mb-lg-0 col-sm-6 col-md-6 col-lg-3">
                <div class="block-service-1-card">
                    <a href="#" class="thumbnail-link d-block mb-4"><img src="/images/img_1.jpg" alt="Image" class="img-fluid"></a>
                    <h3 class="block-service-1-heading mb-3"><a href="#">Fizik Terapi</a></h3>
                    <div class="block-service-1-excerpt"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim odit molestias inventore, id sed, in harum tenetur earum.</p></div>
                    <p><a href="#" class="d-inline-flex align-items-center block-service-1-more"><span>Daha fazlasını bul</span> <span class="icon-keyboard_arrow_right icon"></span></a></p>
                </div>
            </div>
            <div class="mb-4 mb-lg-0 col-sm-6 col-md-6 col-lg-3">
                <div class="block-service-1-card">
                    <a href="#" class="thumbnail-link d-block mb-4"><img src="/images/img_2.jpg" alt="Image" class="img-fluid"></a>
                    <h3 class="block-service-1-heading mb-3"><a href="#">Kayropraktik Terapi</a></h3>
                    <div class="block-service-1-excerpt"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim odit molestias inventore, id sed, in harum tenetur earum.</p></div>
                    <p><a href="#" class="d-inline-flex align-items-center block-service-1-more"><span>Daha fazlasını bul</span> <span class="icon-keyboard_arrow_right icon"></span></a></p>
                </div>
            </div>
            <div class="mb-4 mb-lg-0 col-sm-6 col-md-6 col-lg-3">
                <div class="block-service-1-card">
                    <a href="#" class="thumbnail-link d-block mb-4"><img src="/images/img_3.jpg" alt="Image" class="img-fluid"></a>
                    <h3 class="block-service-1-heading mb-3"><a href="#">Masaj terapisi</a></h3>
                    <div class="block-service-1-excerpt"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim odit molestias inventore, id sed, in harum tenetur earum.</p></div>
                    <p><a href="#" class="d-inline-flex align-items-center block-service-1-more"><span>Daha fazlasını bul</span> <span class="icon-keyboard_arrow_right icon"></span></a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="block-half-content-1 d-block d-lg-flex mt-5">
    <div class="block-half-content-img" style="background-image: url('/images/hero_bg_1.jpg')">

    </div>
    <div class="block-half-content-text bg-primary">
        <div class="block-half-content-text-inner">
            <h2 class="block-half-content-heading mb-4">
                Neden Bizi Seçmelisiniz?
            </h2>
            <div class="block-half-content-excerpt">
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut tenetur possimus nam totam, repellat expedita ullam amet velit.</p>
            </div>
        </div>

        <div class="block-counter-1 section-counter">
            <div class="row">
                <div class="col-sm-4">
                    <div class="counter">
                        <div class="number-wrap">
                            <span class="block-counter-1-number" data-number="3">0</span><span class="append">K</span>
                        </div>
                        <span class="block-counter-1-caption">Mutlu Müşteriler</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="counter">
                        <div class="number-wrap">
                            <span class="block-counter-1-number" data-number="7">0</span><span class="append
"></span>
                        </div>
                        <span class="block-counter-1-caption">Yılların Deneyimi</span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="counter">
                        <div class="number-wrap">
                            <span class="block-counter-1-number" data-number="100">0</span><span class="append">%</span>
                        </div>
                        <span class="block-counter-1-caption">Memnuniyet</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-12 text-center">
                <h2 class="site-section-heading text-center font-secondary">Mutlu Müşteriler</h2>
            </div>
        </div>
        <div class="row">

            <div class="col-12">

                <div class="owl-carousel-2 owl-carousel">

                    <div class="d-block block-testimony mx-auto text-center">
                        <div class="person w-25 mx-auto mb-4">
                            <img src="/images/person_1.jpg" alt="Image" class="img-fluid rounded-circle w-50 mx-auto">
                        </div>
                        <div>
                            <h2 class="h5 mb-4">Ozi</h2>
                            <blockquote>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias accusantium qui optio, possimus necessitatibus voluptate aliquam velit nostrum tempora ipsam!&rdquo;</blockquote>
                        </div>
                    </div>

                    <div class="d-block block-testimony mx-auto text-center">
                        <div class="person w-25 mx-auto mb-4">
                            <img src="/images/person_2.jpg" alt="Image" class="img-fluid rounded-circle w-50 mx-auto">
                        </div>
                        <div>
                            <h2 class="h5 mb-4">Ozi</h2>
                            <blockquote>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias accusantium qui optio, possimus necessitatibus voluptate aliquam velit nostrum tempora ipsam!&rdquo;</blockquote>
                        </div>
                    </div>

                    <div class="d-block block-testimony mx-auto text-center">
                        <div class="person w-25 mx-auto mb-4">
                            <img src="/images/person_3.jpg" alt="Image" class="img-fluid rounded-circle w-50 mx-auto">
                        </div>
                        <div>
                            <h2 class="h5 mb-4">Ozi</h2>
                            <blockquote>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias accusantium qui optio, possimus necessitatibus voluptate aliquam velit nostrum tempora ipsam!&rdquo;</blockquote>
                        </div>
                    </div>

                    <div class="d-block block-testimony mx-auto text-center">
                        <div class="person w-25 mx-auto mb-4">
                            <img src="/images/person_4.jpg" alt="Image" class="img-fluid rounded-circle w-50 mx-auto">
                        </div>
                        <div>
                            <h2 class="h5 mb-4">Ozi</h2>
                            <blockquote>&ldquo;Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias accusantium qui optio, possimus necessitatibus voluptate aliquam velit nostrum tempora ipsam!&rdquo;</blockquote>
                        </div>
                    </div>


                </div>
            </div>


        </div>
    </div>
</div>

<div class="mt-5 block-cta-1 primary-overlay" style="background-image: url('images/hero_bg_2.jpg')">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-7 mb-4 mb-lg-0">
                <h2 class="mb-3 mt-0 text-white">
                    İlk Gelene %30'a Varan İndirim
                </h2>
                <p class="mb-0 text-white lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut tenetur possimus nam totam, repellat expedita ullam amet velit.</p>
            </div>
            <div class="col-lg-4">
                <p class="mb-0"><a href="contact.html" class="btn btn-outline-white text-white btn-md btn-pill px-5 font-weight-bold btn-block">Bize Ulaşın</a></p>
            </div>
        </div>
    </div>
</div>

