
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Html.PartialAsync("/Views/LayoutPartial/_Css.cshtml")
<body>

    @await Html.PartialAsync("/Views/LayoutPartial/_Navbar.cshtml")

    @await Html.PartialAsync("/Views/LayoutPartial/_Slider.cshtml")
    
    @RenderBody()

    @await Html.PartialAsync("/Views/LayoutPartial/_FooterPartial.cshtml")

    @await Html.PartialAsync("/Views/LayoutPartial/_Scripts.cshtml")
</body>
</html>
